/* @import url('https://fonts.googleapis.com/css?family=Lato&amp;subset=cyrillic'); */

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato"), url("../fonts/Lato-Regular.ttf");
    unicode-range: U+0-F8FE, U+F900-FFFF;
}

@font-face {
    font-family: "Slack";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/slack-icons-Regular.woff2") format("woff2"), url("/42cfe/fonts/slack-icons-Regular.woff") format("woff");
}

*{
    margin: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: Lato, appleLogo, sans-serif;
    color: #2C2D30;
}
.flex{
    display: flex;
}
.flex.lp{
    justify-content: space-between;
}
.flex.container{
    justify-content: flex-start;
    flex-direction: row;
    height: 100%;
}
.left-panel{
    background: #4D394B;
    min-width: 220px;
    color: rgb(202,196,201);
}
.left-panel-header{
    padding: 7px 15px;
    cursor: pointer;
}
.left-panel-header:hover{
    background: #2b172A;  
}
.left-panel-header-firstpart:hover{
    color: #FFFFFF;
}
.message-panel{
    background: #ffffff;
}

.name-of-workspace{
    color: #ffffff;
    font-size: 21px;
    float: left;
}
.notififications{
    float: right;
    font-size: 17px;
    margin: 7px 2px;
}
.notififications:hover {
    color: #ffffff;
}
.notififications:hover ~ .left-panel-header-firstpart{
    color: #ffffff;
}
.options{
    padding: 7px;
}
.user{
    font-size: 13px;
}
.dot{
    margin-right: 7px;
    font-size: 13px;
}
.green.dot {
    color: #50774C;
}
.choose{
    padding: 4px 15px;
    cursor: pointer;
}
.choose:hover{
    background: #2b172A;
}
.threads-icon{
    float: left;
    margin-right: 7px; 
}
.threads{
    margin: 12px 0px;
}
.right-plus{
    float: right;
}
.right-plus:hover{
    color: #ffffff;
}
.block-title{
    padding: 7px 15px;
}
.block-title-name:hover{
    color: #ffffff;
}
.block-title:hover{
    cursor: pointer;
}
.choose.active{
    background: #50774C;
    color: #ffffff;
}
.lp-block{
    margin: 12px 0;
}
.you{
    color: #999;
    display: inline-block;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.quik-switcher{
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    margin: 26px;
}
.quik-switcher:hover{
    color: #ffffff;
}
.lp-wrapper{
    /* max-height: 100%; */
    overflow-y: auto;
    height: 0;
    flex-grow: 1;
}
.wrapper{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
/* Message panel */
.top-menu{
    border-bottom: 1px solid #DDD;
    height: 70px;
    width: 100%;
    min-width: 820px;
    margin-bottom: -17px;
    background: #fff;
    z-index: 2;
}
.message-panel{
    width: 100%;
}
.left-block {
    padding: 10px 18px;
    display: inline-block;
}
.mini-icons{
    color: #797979;
    font-size: 13px;
    padding: 9px 0px;
}
.mini-icon{
    padding: 0 5px;
    cursor: pointer;
    display: inline;
}
.mini-icon:hover{
    color: #53ACFF;  
}
.mini-icon.star:hover{
    color: #FFB938;  
}
.add-topic{
    padding: 5px;
    border: 2px solid transparent;
}
.add-topic:hover{
    border-color: #EDEDED;
    border-radius: 4px;
}
.mini-topic{
    padding: 0 5px;
    cursor: pointer;
    display: inline;
}
.right-block{
    float: right;
    padding: 10px 18px;
}
.menu-icon{
    cursor: pointer;
    font-size: 26px;
    color: #797979;
    margin: 5px 0px;
    padding: 3px 6px;
    display: inline-block;
    border-radius: 5px;
}
.menu-icon:hover{
    color: #53ACFF;
}
input.search{    
    padding: 8px;
    border: none;
    margin: 1px 8px;
    float: left;
    width: 196px;
    transition: 0.2s;
}
input.search:focus {
    width: 276px;
    outline: none;
}
.menu-icons {
    float: left;
}
.menu-icon.disable i{
    color: #B1B1B1;
}
.menu-icon.disable:hover {
    color: #B1B1B1;
}
.menu-icon.active {
    color: #797979;
    background: #EFEFEF;
}
.menu-icons.at:hover{
    color: #EE0000;
}
.menu-icon.star:hover{
    color: #FFB938;
}
.search-icon{
    float: left;
    margin: 7px 0px 0px 10px;
    color: #999;
}
.search-wrapper{
    margin: 7px 10px 0px 10px;
    float: left;
    border: 1px solid #AAA;
    border-radius: 7px;
}
.flex-message{
    display: flex;
    flex-direction: column;
}
.messages-block{
    display: flex;
    flex-grow: 1;
    overflow-y: scroll;
    flex-direction: column;
    /* justify-content: flex-end; */
    font-size: 14px;
    height: 0;
}
.message-box{
    display: flex;
    /* min-height: 70px; */
    background: #ffffff;
}
.message-wrapper {
    display: flex;
    flex-grow: 1;
    border: 2px solid #BBB;
    margin: 0 14px 14px -2px;
    border-radius: 0 8px 8px 0;
    overflow-y: auto;
    max-height: 200px;
}
.message-box-input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    margin: 4px;
    outline: none;
    padding: 6px;
}
i.plus-icon {
    border: 2px solid #BBB;
    margin: 0 0px 14px 14px;
    padding: 10px;
    color: #bbb;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
}
i.plus-icon:hover {
    border-color: #0B7000;
    background: #1FB60E;
    color: #0B7000;
    z-index: 2;
}
.message-icon {
    cursor: pointer;
    font-size: 21px;
    color: #797979;
    margin: 5px 3px;
    display: inline-block;
    transition: 0.2s;
}
.message-icon.at:hover{
    color: #53ACFF;
}
.message-icon:hover{
    transform: scale(1.4);
}
.message-icon-block {
    padding: 0 8px;
    position: fixed;
}
.message-img{
    border-radius: 5px;
}
.message-img {
    border-radius: 5px;
    width: 41px;
    height: 41px;
}
.message {
    display: flex;
    padding: 7px 18px;
}
.message:hover {
    background: #f7f7ff;
}
.text-wrapper {
    margin: 0 10px;
}
h3.name {
    font-size: 17px;
}
a {
    color: #0576b9;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.message-header {
    display: inline-flex;
}
a.time {
    color: #999;
    font-size: 13px;
    text-decoration: none;
    padding: 3px 7px;
}
.message-options i {
    font-size: 18px;
}
.message-options {
    display: flex;
    align-items: baseline;
    position: relative;
    top: -19px;
    opacity: 0;
}
.text-wrapper {
    flex: 1;
    margin: 0 10px;
}
i.opt-icon {
    cursor: pointer;
    background: #FFF;
    color: #555;
    padding: 5px 11px 5px 6px;
    margin: 0 -3px;
    border: 1px solid #aaa;
}
i.opt-icon.first {
    border-radius: 7px 0 0 7px;
}
i.opt-icon.last {
    border-radius: 0 7px 7px 0;
}
i.opt-icon:hover {
    color: #0576b9;
}
.message:hover .message-options {
    opacity: 1;
}
.day {
    border-top: 1px solid #DDD;
    padding: 33px 0 0;
}
.day-name{
    text-align: center;
}
.day-name {
    text-align: center;
    position: sticky;
    margin: 0 auto;
    padding: 0 12px;
    z-index: 5;
    top: 0;
    width: 200px;
}
.day-name p{
    position: relative;
    background: #FFF;
    top: 7px;
    border-radius: 22px;
}

.link-box img {
    float: left;
}
p.link-name {
    margin: 0px 20px 0px;
    font-weight: bold;
    color: #999;
}
.link-box {
    display: flex;
    margin: 11px 0;
    border-left: 3px solid #DDD;
    padding: 3px 4px;
    max-width: 500px;
}
i.mess-star {
    display: none;
    margin: 3px 0;
    cursor: pointer;
}
i.mess-star:hover {
    color: #FFB938;
}
.message:hover i.mess-star {
    display: block;
}
.app-panel{
    min-width: 68px;
    background: #282a29;
    text-align: center;
}
p.app-key {
    color: #7c7d7c;
    font-size: 10px;
}
.select {
    background: #939493;
    width: 3px;
    height: 36px;
    border-radius: 0 21% 21% 0;
    position: absolute;
}
.app-icon {
    cursor: pointer;
}
.app-icon {
    cursor: pointer;
    margin: 15px 0;
}
.message-block-n-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.center-panel {
    display: flex;
}
.center-panel {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-grow: 1;
}
.right-panel {
    display: flex;
    flex-direction: column;
    width: 380px;
    min-width: 380px;
    margin-top: 17px; 
}
.header-right-panel {
    font-weight: bold;
    padding: 14px 10px 27px 10px;
    background: #f7f7f7;
    border-bottom: 1px solid #e8e8e8;
}
i.close-right {
    float: right;
    color: #717274;
    cursor: pointer;
}
i.close-right:hover {
    color: #0576b9;
}
details summary::-webkit-details-marker { 
    display:none;
}
.right-panel-body {
    font-size: 14px;
    overflow-y: auto;
    height: 0;
    flex-grow: 1;
}
.right-panel-body summary{
    padding: 14px 10px 27px 10px;
    color: #2C2D30;
    font-size: 20px;
    cursor: pointer;
    background: #fff;
    border-top: 1px solid #DDD;
}
summary *{
    transition: .1s;
    opacity: 0.5;
}
.right-panel-body summary:hover *{
    opacity: 1;
}
.right-panel-body summary::after{
    float: right;
    font-family: 'FontAwesome';
    content: "\f0da";
    cursor: pointer;
}
.right-panel-body summary:hover::after{
    color: #2C2D30;
}
.body-about {
    margin: 0px 12px 16px;
}
.right-panel-body details[open] summary{
    opacity: 1;
}
.right-panel-body details[open] summary::after{
    content: "\f0d7";
    opacity: 1;
}
.right-panel details b {
    color: #717274;
}
.right-panel-body p{
    margin: 6px 0;
}
a.black-a {
    color: #2C2D30;
}
.active-member {
    display: flex;
    align-items: center;
}
.active-member .name {
    padding: 0 10px;
}
.dot.offline{
    color: #7c7d7c;
}
.most-active-members {
    margin: 16px 0px;
}
.active-member {
    display: flex;
    align-items: center;
    margin: 12px 0;
}
i.right-panel-icon.fa.fa-star-o {
    color: #0576b9;
}
p.about-detail {
    color: #717274;
}
p.day-name-about b {
    background: #fff;
    color: #2C2D30;
    padding: 0 12px;
}
p.day-name-about {
    text-align: center;
    position: relative;
    top: 14px;
}
details .message {
    margin: 12px 0;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    word-break: break-all;
}
details .message:hover {
    background: #fff;
}
a.time.about {
    font-size: 12px;
}
.message .name {
    font-size: 14px;
}
details .notfull .text-wrapper{
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.4)));
}
.wrapper-message-icon-block{
    width: 72px;
}
[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block;
    color: #BBB;
}
i.right-panel-icon.fa.fa-thumb-tack {
    color: #EC5A05;
}
.filename {
    text-decoration: none;
    color: #2C2D30;
    font-weight: bold;
}
.pined-item{
    margin: 12px 0;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    word-break: break-all;
    padding: 7px 18px;
}
i.right-panel-icon.fa.fa-user-o {
    color: #3dad3d;
}
.member-in-list img{
    width: 24px;
    border-radius: 3px;
}
.member-in-list {
    padding: 6px 0px;
    display: flex;
    margin: 2px 0;
    align-items: center;
}
.member-in-list .name{
    padding: 0 5px;
}
img.offline {
    filter: grayscale(100%);
    opacity: 0.5;
}
i.fa.fa-files-o {
    color: #e0b560;
}
a.filename {
    text-decoration: none;
}
.file-img{
    width: 32px;
    height: 32px;
}
.pined-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.pined-item:hover button.about-file{
    display: block;
}
button.about-file {
    display: none;
    color: #999;
    padding: 3px 9px;
    border: 1px solid #EEE;
    background: #fff;
    float: right;
    cursor: pointer;
}
button.about-file:hover {
    color: #0576b9;
}
i.file-symb {
    font-size: 32px;
    color: #0576b9;
}
.pre-file{
    font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace;
    font-size: 12px;
    padding: 5px 0;
}
i.right-panel-icon.fa.fa-bell-o {
    color: #ff3434;
}
.notif p{
    font-size: 16px;
}
button.edit-totif {
    background: #EFEFEF;
    border: 1px solid #CCC;
    padding: 7px 17px;
}
.styled-scroll::-webkit-scrollbar {
    position: absolute;
    width: 8px;
    background: #eee;
    border-radius: 4px;
    border: solid #fff;
    border-width: 3px 0px;
}
.styled-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #CCC;
    position: absolute;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-family: Lato, appleLogo, sans-serif;    
    font-size: 13px;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
    width: 106px;
    font-weight: bold;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 6;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    /* bottom: 100%; */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    /* border-color: transparent transparent black transparent; */
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}
.bottom-tooltip{
    top: 150%;
}
.top-tooltip{
    bottom: 150%;
}
.top-tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
}
.bottom-tooltip::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000000 transparent;
}
.edit-topic {
    display: none;
}
.mini-topic:hover .edit-topic{
    display: inherit;
}
.keymap{
    color: #999;
}
.moreitems-tooltip::after{
    left: 81% !important;
}
.moreitems-tooltip{
    left: -462% !important;
}
.fa-star-o .tooltiptext{
    width: 90px !important;
}
.tr-anim{
    transition: 200ms;
}
summary {
    display: block;
    position: relative;
    outline: none;
    z-index: 20;
}
summary::before{
    display: none !important;
}

details{
    z-index: 0;
}
DETAILS[open] summary ~ * 
{
 animation: sweep 0.5s;
}

@keyframes sweep 
{
 0%    {opacity: 0; margin-top: -100px}
 50%   {opacity: 0.3}
 100%  {opacity: 1; margin-top: 0%}
}
.choose .fa-times-circle-o{
    display: none;
    float: right;
}
.choose .fa-times-circle-o:hover{
    color: #ffffff;
}
.choose:hover .fa-times-circle-o{
    display: block;
}
.pined-item .close-right.fa.fa-times {
    display: none;
    align-self: normal;
}
.pined-item:hover .close-right.fa.fa-times {
    display: block;
}