@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    margin: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
.flex{
    display: flex;
}
.flex.lp{
    justify-content: space-between;
}
.flex.container{
    justify-content: flex-start;
    flex-direction: row;
    font-family: Lato, appleLogo, sans-serif;
    height: 100%;
}
.left-panel{
    background: #4D394B;
    min-width: 220px;
    color: rgb(202,196,201);
}
.left-panel-header{
    padding: 7px 15px;
    cursor: pointer;
}
.left-panel-header:hover{
    background: #2b172A;
    color: #ffffff;    
}
.message-panel{
    background: #ffffff;
}

.name-of-workspace{
    color: #ffffff;
    font-size: 21px;
    float: left;
}
.notififications{
    float: right;
    font-size: 17px;
    margin: 7px 2px;
}
.notififications:hover{
    color: #ffffff;
}
.options{
    padding: 7px;
}
.user{
    font-size: 13px;
}
.dot{
    margin-right: 7px;
    font-size: 13px;
}
.green.dot {
    color: #50774C;
}
.choose{
    padding: 4px 15px;
    cursor: pointer;
}
.choose:hover{
    background: #2b172A;
}
.threads-icon{
    float: left;
    margin-right: 7px; 
}
.threads{
    margin: 12px 0px;
}
.right-plus{
    float: right;
}
.right-plus:hover{
    color: #ffffff;
}
.block-title{
    padding: 7px 15px;
}
.block-title-name:hover{
    color: #ffffff;
}
.block-title:hover{
    cursor: pointer;
}
.choose.active{
    background: #50774C;
    color: #ffffff;
}
.lp-block{
    margin: 12px 0;
}
.you{
    color: #999;
    display: inline-block;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.quik-switcher{
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    margin: 26px;
}
.quik-switcher:hover{
    color: #ffffff;
}
.lp-wrapper{
    max-height: 100%;
    overflow-y: auto;
}
.wrapper{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
/* Message panel */
.top-menu{
    border-bottom: 1px solid #DDD;
    height: 70px;
    width: 100%;
    min-width: 820px;
}
.message-panel{
    width: 100%;
}
.left-block {
    padding: 10px 18px;
    display: inline-block;
}
.mini-icons{
    color: #797979;
    font-size: 13px;
    padding: 9px 0px;
}
.mini-icon{
    padding: 0 5px;
    cursor: pointer;
    display: inline;
}
.mini-icon:hover{
    color: #53ACFF;  
}
.mini-icon.star:hover{
    color: #FFB938;  
}
.add-topic{
    padding: 5px;
    border: 2px solid transparent;
}
.add-topic:hover{
    border-color: #EDEDED;
    border-radius: 4px;
}
.mini-topic{
    padding: 0 5px;
    cursor: pointer;
    display: inline;
}
.right-block{
    float: right;
    padding: 10px 18px;
}
.menu-icon{
    cursor: pointer;
    font-size: 26px;
    color: #797979;
    margin: 8px 3px;
    display: inline-block;
}
.menu-icon:hover{
    color: #53ACFF;
}
input.search{    
    padding: 8px;
    border: none;
    margin: 1px 8px;
    float: left;
    width: 196px;
    transition: 0.2s;
}
input.search:focus {
    width: 276px;
    outline: none;
}
.menu-icons {
    float: left;
}
.menu-icons.at:hover{
    color: #EE0000;
}
.menu-icon.star:hover{
    color: #FFB938;
}
.search-icon{
    float: left;
    margin: 7px 0px 0px 10px;
    color: #999;
}
.search-wrapper{
    margin: 7px 10px 0px 10px;
    float: left;
    border: 1px solid #AAA;
    border-radius: 7px;
}
.flex-message{
    display: flex;
    flex-direction: column;
}
.messages-block{
    display: flex;
    flex-grow: 1;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-end;
}
.message-box{
    display: flex;
    height: 70px;
    background: #ffffff;
}
.message-wrapper {
    display: flex;
    flex-grow: 1;
    border: 2px solid #BBB;
    margin: 14px 14px 14px -2px;
    border-radius: 0 8px 8px 0;
}
input.message-box-input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    margin: 4px;
    outline: none;
}
i.plus-icon {
    border: 2px solid #BBB;
    margin: 14px 0px 14px 14px;
    padding: 10px;
    color: #bbb;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
}
i.plus-icon:hover {
    border-color: #0B7000;
    background: #1FB60E;
    color: #0B7000;
    z-index: 2;
}
.message-icon {
    cursor: pointer;
    font-size: 21px;
    color: #797979;
    margin: 5px 3px;
    display: inline-block;
    transition: 0.2s;
}
.message-icon.at:hover{
    color: #53ACFF;
}
.message-icon:hover{
    font-size: 27px;
    margin: 0px 0px;
}
.message-icon-block {
    padding: 0 8px;
}
.message-img{
    border-radius: 5px;
}
.message-img {
    border-radius: 5px;
    width: 41px;
    height: 41px;
}
.message {
    display: flex;
    padding: 7px 18px;
}
.message:hover {
    background: #f7f7ff;
}
.text-wrapper {
    margin: 0 10px;
}
h3.name {
    font-size: 17px;
}
.message a {
    color: #3a3aec;
}